/*html, body {
    margin:0px; padding:0px; height: 100%;
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, group,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, group, menu, nav, section {
    display: block;
}
html,body {
    line-height: 1;
    margin:0;
    padding:0;
    font: 24px Helvetica;
    background: #818181;
    /*height:90vh;*/
}
ol, ul, li {
    list-style: none;
    text-decoration: none;
    font-family: "adobe-caslon-pro",serif;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h3 {
    font-size:28px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.grid {
    border: solid 1px #e7e7e7;
    display: -webkit-flex;
    /*min-height:95vh;*/
    -webkit-flex-direction: column;
    flex-direction:column;
}
/*#map_canvas {
    display: block; width: 100%; height:70vh;
    -webkit-flex: 1;
    flex:1;
    border: 3px solid #007FFF;
}*/
#map_canvas > p {
    font-size: 15px;
}
.gm-style-iw {
    width: 375px !important;
    height:auto !important;
}

#main {

    margin: 0px;
    padding: 0 0 0 0;
    -webkit-display: flex;
    display: flex;
    webkit-flex-flow: row;
    flex-flow: row;
}

#main > article > #map_canvas {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    display:flex;
    align-items:stretch;
    align-content:stretch;
    -webkit-order: 2;
    order: 2;

}


#main > nav {
    display:flex;
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ffffff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1;
    text-align:center;
    flex-direction:column;


}

#main > nav > #ul_side_bar {
    list-style: none;
    text-align: center;
    height:80vh;
    overflow-y:auto;
    line-height:80%
}


#ul_side_bar > li {
    display: inline-block;
}

#ul_side_bar > li > a:-webkit-any-link {
    text-decoration: none;
    font-size:18px;
}

#main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3;
}

header {
    display: block;
    min-height: 100px;
    border: 1px solid #000000;
    background: #000000;
    padding-top:10px
}
footer {
    display:-webkit-flex;
    -webkit-flex-direction: row;
    flex-direction:row;
    align-content:flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top:10px;
    background-color:#000;
}

.footer-item {
    order:0;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    align-self:auto;
    border: 1px solid #fff;
    height:50px
}

.grid__row {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.grid__row--header {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    background-color:#000;
}


.grid__item--header {
    -webkit-flex: 1;
    flex: 1;
    border: solid 1px #e7e7e7;
    width:100%;
    height:inherit;
}

.grid__item--header-img {
    width:500px;
}

.grid__item--footer-img {
    height:50px;
}

.grid__item {
    -webkit-flex: 1;
    flex: 1;
    padding: 12px;
    border: solid 1px #e7e7e7;
    background-color:#000;
}

.grid__item > p {
    color:#fff;
}

.grid__item > p > a:-webkit-any-link {
    color:#fff;
    text-decoration: none;
}

/* Sidebar Styles */
hr {
    display: block;
    height: 0.3px;
    border: 0;
    border-top: 1px solid #A4A4A4;
    margin: 1em 0;
    padding: 0;
}
/*
@media all and ( max-width: 300px ) {

    .grid__row--xs-sm {
        flex-direction: row;
    }
    .grid__row--header {
        height:50px;
    }
    .grid__item--header {
        align-items: center;
    }

    .grid__item--header-img {
        width: inherit;
        height:50px;
    }

    .grid__row--footer {
        height: 75px;
    }
    .grid__item--footer {
        align-items: center;
    }

    .grid__item--footer .img {
        width: 100%;
    }

    .grid__item {
        height:30px;
        padding:5px;
    }
    .grid__item > p {
        font-size:15px;
        -webkit-margin-before:0em;
    }
    nav {
        display: none;
    }

}*/

/* ----------- Queries ----------- */

@media all and (max-width: 380px) {

   /* #main, #page {
        -webkit-flex-flow: column !important;
        flex-direction: column !important;
    }*/

    #main > article, #main > aside {
        /* Return them to document order*/
        display: -webkit-flex !important;
        -webkit-order: 0 !important;
        margin: 4px !important;
        padding: 5px !important;
        border: 1px solid #cccc33 !important;
        border-radius: 7pt !important;
        background: #dddd88 !important;
        -webkit-flex: 3 1 60% !important;
        flex: 3 1 60% !important;
        align-items: stretch !important;
        align-content: stretch !important;
        order: 0 !important;
        height: 400px !important;
    }
    #main > article > #map_canvas {
        display: -webkit-flex;
        margin: 4px;
        padding: 5px;
        border: 1px solid #20b6cc;
        border-radius: 7pt;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        align-items: stretch;
        align-content: stretch;
        -webkit-order: 2;
        order: 2;

    }
    nav {
        display: none;
    }

    #main > header {
        min-height: 85px;
        max-height: 50px;
    }
    #main > footer {
        min-height: 25px;
    }
    .grid__item--header-img {
        width: 100%!important;
    }
    .grid__item {
        -webkit-flex: 1;
        flex: 1;
        padding: 5px;
        border: solid 1px #e7e7e7;
        background-color: #000;
    }
    p {
        display: block;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-size: 14px
    }
}

/* Desktop */
@media all and ( min-width: 480px ) {

    .grid__row--sm {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

}


/*Too narrow to support three columns*/
@media all and (max-width: 640px) {

    /*#main, #page {
        -webkit-flex-flow: column;
        flex-direction: column;
    }*/

    #main > article, #main > aside {
        /* Return them to document order*/
        -webkit-order: 0;
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #dddd88;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        display: -webkit-flex;
        align-items: stretch;
        align-content: stretch;
        order: 0;
        height: 67vh!important;
    }

    #main > nav {
        display: none;
    }

    #main > aside, header {
        min-height: 85px;
        max-height: 50px;
    }
    #main > footer {
        min-height: 25px;
    }
    .grid__item--header-img {
        width: 100%;
    }
    .grid__item {
        -webkit-flex: 1;
        flex: 1;
        padding: 5px;
        border: solid 1px #e7e7e7;
        background-color: #000;
    }
    p {
        display: block;
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-size: 14px
    }
}

@media all and (min-width: 720px) and ( max-height: 845px ) {

    #main > article {
        height:60vh !important
    }
    #main > nav {
        height:60vh !important;
    }
    #main > nav > #ul_side_bar {
        height: 30vh!important;
    }
    /*#map_canvas {
        min-height: 30vh !important;
    }*/
}

@media all and (max-width: 720px) and (max-height: 1090px) {

    #main > article {
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #dddd88;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        display: -webkit-flex;
        align-items: stretch;
        align-content: stretch;
        -webkit-order: 2;
        order: 2;
        height: 65vh;
    }

    #main > nav {
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ffffff;
        -webkit-flex: 1 6 20%;
        flex: 1 6 20%;
        -webkit-order: 1;
        order: 1;
        text-align: center;
        height: 65vh;
    }
    #main > header {
        min-height: 85px;
        max-height: 50px;
    }
    .grid__item--header-img {
        width: 400px;
    }
    p {
        -webkit-margin-before: 0.5em;
        -webkit-margin-after: 0.5em;
        font-size:14px
    }
}

@media all and (min-width: 720px) and ( max-height: 1000px ) {

    #main > article {
        height: 60vh
    }

    /*#main > nav {
        height: 60vh!important
    }*/

    #main > nav > #ul_side_bar {
        height: 60vh!important
    }

    /*#map_canvas {
        height: 67vh!important
    }*/
}
/*
@media all and (min-width: 720px) and ( min-height: 844px ) {

    #main > article {
        height:62vh
    }
    #main > nav {
        height:62vh;
    }
    #main > nav > #ul_side_bar {
        min-height: 45vh!important;
    }
    #map_canvas {
        min-height: 60vh;
    }
}*/

@media all and (min-width: 720px) and (max-height: 1090px ) {

    #main > article {
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #dddd88;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        display: -webkit-flex;
        align-items: stretch;
        align-content: stretch;
        -webkit-order: 2;
        order: 2;
        height:67vh;
    }
    #main > nav {
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ffffff;
        -webkit-flex: 1 6 20%;
        flex: 1 6 20%;
        -webkit-order: 1;
        order: 1;
        text-align: center;
        height:67vh;
    }
    /*#main > nav > #ul_side_bar {
        list-style: none;
        text-align: center;
        height: 58vh;
        overflow-y: auto;
        line-height: 80%;
    }*/

}

@media all and ( min-width: 720px ) and (min-height: 1090px) {

    /*.grid {
        border: solid 1px #e7e7e7;
        min-height:99vh;
    }*/

    .grid__row--md {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    .grid__item--header .img {
        width: 100%;
    }
    #main > article {
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #dddd88;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        display: -webkit-flex;
        align-items: stretch;
        align-content: stretch;
        -webkit-order: 2;
        order: 2;

    }
    #main > article > #map_canvas {
        margin: 4px;
        padding: 5px;
        border: 1px solid #20b6cc;
        border-radius: 7pt;
        -webkit-flex: 3 1 60%;
        flex: 3 1 60%;
        display: -webkit-flex;
        align-items: stretch;
        align-content: stretch;
        -webkit-order: 2;
        order: 2;

    }
    #main > nav {
        height:70vh !important;
    }
    #main > nav > #ul_side_bar {
       height:60vh !important;
    }

    .footer-item {
        max-height: 50px !important;
    }
    .grid__item--footer-img {
        max-height: 50px !important;

    }

}


@media all and ( min-width: 960px ) {

    .grid__row--lg {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .grid__item--header .img {
        width: 500px !important;
    }

}
